
body {
    margin: 0px;
}

/* NAVIGATION*/

nav {
    /*margin-bottom: 20px;*/
}

nav ul{
    list-style: none;
    padding: 0px;
    display: none;
    margin: 0px;
}

.display-toggle {
    padding: 3px;
    width: 40px;
    float: right;
}

.display-toggle .stripe {
    display: block;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
    margin-top: 4px;
}

.display-toggle .stripe::before {
    content: '';
    position: absolute;
    width: 21px;
    border-top: 3px solid gray;
    height: 3px;
}

.display-toggle:hover + ul {
    display: block;
}

nav li {
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(165, 204, 209, 0.356);
    font-size: 20p;
}

nav li:last-child {
    border-bottom: 0px;
}

.image-container {
    margin: 0px auto 20px;
    background-position: center;
    background-size: cover;
    height: 200px;
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #EE4266;
    line-height: 36px;
}

.arth1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(165, 204, 209, 0.603);
    margin-top: -163px;
}
    
.art {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    line-height: 32px;
    margin: 40px;
}

.quote {
    font-size: 23px;
    color: rgb(184, 184, 184);
    margin: 110px 100px 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.2px;
}

/*--------Tablet size and above-----------*/
@media(min-width: 768px) {
    nav {
        background-color: black;
        position: fixed;
        width: 100%;
    }

    nav ul{
        margin: 0px;
        display: block;
        text-align: right;
        list-style: none;
   }
    nav li {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: inline-block;
        border-bottom: 0px;
        min-width: 9%;
        font-size: 18px;
    }

    .image-container {
        height: 500px;
    }

    main {
        width: 750px;
        margin: auto;
        background-color: rgb(217, 247, 247);
    }

    .display-toggle {
        display: none;
    }

    .arth1{
        font-size: 92px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: -372px;
        margin-bottom: -46px;
        margin-left: 79;
        color: rgba(165, 204, 209, 0.897);
    }

    .art {
        margin: 0px 130px 40px;
    }

    .quote {
        font-size: 25px;
        margin: 150px 250px 80px;
    }

}

/*------DESKTOP SIZE AND ABOVE----------*/

@media(min-width: 960px) {
    main {
        width: 1125px;
    }

    nav ul{
        display: block;
    }

    .display-toggle {
        display: none;
    }

    .art {
        margin: 0px 165px 40px;
    }
}