@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}



body p {
    font-size: 22px;
    line-height: 39px;
}
/* NAVIGATION*/
header {
    background-color: #ffffff;
}

nav ul{
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    background-color: #ffffff;
}

/* .display-toggle {
    padding: 3px;
    width: 40px;
    position: relative;
    right: 0px;
    margin-top: -50px;
    float: right;
}

.display-toggle .stripe {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
    margin-top: 4px;
} */

/* .display-toggle .stripe::before {
    content: '';
    position: absolute;
    width: 21px;
    border-top: 3px solid gray;
    height: 3px;
} */

.display-toggle:hover + ul {
    justify-content: flex-end;
}

li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(1, 147, 160, 0.685);

}

nav li:last-child {
    border-bottom: 0px;
}

nav a .active-link{
    color: #ffffff;
}

.active-link {
    color: #ffffff;
    border-bottom: 3px solid #FF8811;
    /*background-color: #C73E1D;*/
    font-weight: 700;
    
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #0193A0;
    line-height: 36px;
}


.logo img{
    width: 50px;
    flex: 1;
}


/* Hamburguer */

#myLinks {
    display: none;
}

.hamburger {
    padding: 15px 15px;
    float: right;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 15px 0px 0px 0px;
    overflow: visible; 
  }
  
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: black; }
      
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }




/*---------BODY----------*/

.topimage {
    margin: 0px auto 50px;
    background-position: center top;
    background-size: cover;
    height: 300px;
}

.main-container {
    margin: 10%;
}

.header{
    margin: 20% 10%;
    font-size: 30px;
    color: #0193A0;
    text-align: center;
}

.boxes {
    min-height: 800px;
    padding: 0px;
    margin-bottom: 20px;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;



  }
  
  .flex-box {
    border-radius: 50%;
    margin-bottom: 30px;

    width: 260px;
    height: 260px;



    background-position: center top;
    background-size: cover;


  }

  h2{
      text-align: center;
      color: #FF8811;
      font-size: 25px;

  }

  .wrapper{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      width: 290px;
      margin-bottom: 70px;
      padding: 10px 10px;
  }

  .botton-paragraph {
      height: 400px;
      background-color: #0193A0;
  }

  .botton-paragraph p {
    color: #ffffff;
    font-size: 20px;
    padding: 0px 13%;
    padding-top: 46px;
    line-height: 26px;
}

.flex-box2 {
    margin-bottom: 30px;

    width: 3000px;
    height: 300px;


  }

#boxAbout {
    min-height: 500px;
}

/*.botton-paragraph {
    margin: 10%;
}*/



.empty {
    height: 60px;
    margin-bottom: 30px;
}




/*------------ABOUT PAGE-----------------*/
#hAbout {
    color: #FF8811;
}




/*-------DONATION---------*/

.donate-header {
    margin: 120px 5px;
    position: relative;
    /*font-size: 30px;*/
    color: #0193A0;
    text-align: center;
}


.buttons-donate {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 70px;
    padding: 10px 10px;
    letter-spacing: 1.3px;

    justify-content: space-evenly;
}

.btn-donate {
    margin: 30px 0px 30px;
    padding: 15px 25px;
    line-height: 19px;
 

}

.buttons-donate button {
    background-color: #0193A0;
    border-bottom: 6px solid #9DD9D2;
    border-right: 4px solid #9DD9D2;
    width: 100%;
}

.btn-donate h4{
    font-size: 20px;
    color: #9DD9D2;
    margin-top: 14px;

}

.btn-donate p{
    color: #F5F5F5;

}

.donation-container 
.donation-container2 {
	height: 1000px;
	font-weight: 500;
	font-size: 20px;
    margin-top: 35px;
    display: none;
}

.donation-box {
    width: 260px;
    height: 1185px;
    padding: 20px;
	background-color: #F5F5F5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

/*.donation-box .title {
	background-color: #C1D82F;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
}*/

.donation-box .donate-button {
    background-color: #FF8811;
    margin: center;
	width: 150px;
	color: white;
    text-align: center;
    padding: 15px 10px;
	font-size: 22px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
    font-weight: 800;
    
    margin-left: 15%;
    margin-bottom: 20px;
}

.donation-box .fields {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.donation-box .fields input {
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: #5C5C5C;

	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}


:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.donation-box .amount .button {
    width: 42%;
    margin: 0px 10px;
	background-color: gray;
	margin-bottom: 40px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: #393939;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 81px;
}

.fields label {
    margin-bottom: 10px;
}

.switch {
    position: relative;
    background: white;
    border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 13px;
  color: #5C5C5C;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #ffffff;
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 51%;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: #0193A0;
  border-radius: 3px;
  background-color: #0193A0;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.checkboxes {
    margin-top: 60px;
    text-transform: uppercase;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color: gray;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #9DD9D2;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
  outline: none;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.checkbox:active, .checkbox:checked:active {
	
}

.checkbox:checked {
	background-color: #0193A0;
	border: 1px solid #0193A0;
	color: white;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.confirm {
	display: none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}
















/*--------Small size and above-----------*/
@media (min-width: 450px){
    .topimage {
        height: 400px;
    }

    .header{

        font-size: 35px;
    }
}

/*--------Tablet size and above-----------*/
@media(min-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        z-index: 19;
    }

    nav ul{
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
    }

    nav li a{
        font-weight: 900;
    }

    li {
        border-bottom: 0px;
    
    }

    .image-container {
        height: 717px;
    }

    .display-toggle {
        display: none;
    }

    .logo img{
        width: 90px;
    }

    .topimage {
        height: 400px;
    }

    .header{
        font-size: 40px;

    }

    .flex-box {    
        width: 250px;
        height: 250px;
    }

    .boxes {
        min-height: 1000px;
    }

    .wrapper{
        width: 260px;
        padding: 10px 10px;
    }

    .botton-paragraph p{
        font-size: 25px;
        padding-top: 109px;
    }





    #donateP {
        margin: 0px 70px;
    }

    .btn-donate {
        margin: 30px;
        padding: 15px 40px;
    }

    .buttons-donate button {
        width: 100%;
        height: 209px;
    }

    .donation-box {
        width: 500px;
        height: 1086px;
        padding: 30px;
    }

    .donation-box .amount {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .donation-box .amount .button {
        flex-wrap: wrap;
        width: 100%;
    }

    .donation-box .donate-button {
        margin-left: 30%;
    }
}
    
/*--------Large size and above-----------*/
@media (min-width: 992px) {
    .topimage {
        height: 600px;
    }
    .flex-box {    
        width: 270px;
        height: 270px;
    }

    .wrapper{
        padding: 10px 40px;
    }

    .header{
        margin: 20% 10%;
    }

    .botton-paragraph p{
        padding: 0px 20%;
        padding-top: 120px;
        line-height: 35px;
    }


    .main-container {
        margin: 4% 10%;
    }

    .donate-header h1{
        margin: 20% 10%;
        font-size: 40px;
    }

    .donation-box {
        width: 590px;
    }

    .buttons-donate button {
        width: 45%;
        height: 209px;
    }

}