@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');

body {
    margin: 0px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

/* NAVIGATION*/

nav ul{
    list-style: none;
    padding: 0px;
    display: none;
    margin: 0px;
    background-color: #ffffff;
    border-top: 1px solid #e7dfd2;
}

.display-toggle {
    padding: 3px;
    width: 40px;
    position: relative;
    right: 0px;
    margin-top: -50px;
    float: right;
}

.display-toggle .stripe {
    display: block;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
    margin-top: 4px;
}

.display-toggle .stripe::before {
    content: '';
    position: absolute;
    width: 21px;
    border-top: 3px solid gray;
    height: 3px;
}

.display-toggle:hover + ul {
    display: block;
}

nav li {
    font-family: 'Karla', sans-serif;
    /*background-color: #D7BCC8;*/
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid #e7dfd2;
    font-size: 20px;
}

nav li:last-child {
    border-bottom: 0px;
}

.active-link {
    background-color: #bea57c;
    /*border-bottom: 3px solid #4F345A;*/
    font-weight: 700;
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #4F345A;
    line-height: 36px;
}

header {
    background-color: #ffffff;
}

.logo img{
    width: 10%;
    margin: auto;
    padding: 20px 0px 10px 0px;
    display: block;
    /*height: 20px;*/
    text-align: center;
    background-color: #ffffff;
}

/*BODY*/

h1{
    font-family: 'Pinyon Script', cursive;
    color: white;
    font-size: 80px;
    margin-top: -94px;
    margin-bottom: 87px;
    margin-right: 13px;
    /* margin: 87px; */
    text-align: right;
    text-shadow: 2px 2px 12px #4F345A;
    letter-spacing: 0.8px;
    font-weight: 400;
}

.content {
    /*padding: 0px 10px;*/
    min-height: 115px;
    position: relative;
}

.image-container {
    margin: 0px auto 20px;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.content .img-container {
    min-height: 160px;
    text-align: center;
    max-width: 100%;
}

.content img {
    max-width: 96%;
}

.content2 {
    width: 100%;
}

.content2 img {
    width: 100%
}

#vertHorizCenter2 {
    position: relative;
    top: 50%;
    left: 16%;
    transform: translate(-16%, 2%);

    margin: 0px;
    text-align: center;

    margin-top: 66px;

    padding: 0px 10px;
}

#vertHorizCenter3 {
    position: relative;
    top: 50%;
    left: 22%;
    transform: translate(-23%, 30%);

    margin: 0px;
    text-align: center;
}

#vertHorizCenter1 h1 {
    
    /* Half the height accounting for padding and border */
    margin: auto;
    height: 28px;
    
    text-align: center;
    font-size: 60px;
}

/******** About **********/

#vertHorizCenter4 {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 91%;
    padding-bottom: 40px;
}

#about {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 91%;
    padding-bottom: 40px;
}

#girlImg {
    max-width: 100%;
    padding: 0px;
}

#quote {
    position: relative;
    left: 62%;
    transform: translate(-62%, 6%);
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    color: #bea57c;
    font-family: 'Pinyon Script', cursive;
    font-size: 28px;
    letter-spacing: 0.8px;
    font-weight: 100;
}

.content p {
    line-height: 34px;
}

.content4 {
    text-align: center;
}

/********** Menu ************/

table {
    display: block;
    padding-bottom: 15px;
}

/*tr td {
    padding: 10px 0px;
}*/

th {
    font-size: 28px;
    padding-bottom: 51px;
    color: #bea57c;
}

td {
    padding-bottom: 13px;
    padding-top: 10px;
    border-bottom: 1px solid #e7dfd2;
}

td:nth-child(odd) {
    padding-right: 96px;
}

/*td:nth-child(even) {
    text-align: right;
}*/

tbody {
    font-size: 18px;
    text-align: left;
}

#vertHorizCenter5 {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 91%;
    padding-bottom: 40px;
}

#vertHorizCenter6 {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 91%;
    padding-bottom: 40px;
}

#vertHorizCenter7 {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 81%;
    padding-bottom: 40px;
}

#vertHorizCenter8 {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 91%;
    padding-bottom: 40px;
}




/*-------Contact Information---------*/

.contact_about .contact_h1 {
    margin-top: 0;
}

.about_p {
    margin-top: 93px;
}

.form1 p {
    text-align: justify;
    font-size: 18px;
    letter-spacing: .4px;
    line-height: 29px;
    padding-bottom: 26px;
}

.forms {
    /*font-family: 'Cabin', sans-serif;*/
    margin: auto;
    position: relative;
    display: block;
}

.info {
    align-content: center;
    letter-spacing: 1.2px;
    font-size: 18px;
    font-weight: 900;
}

.first_form {
    margin: auto;
    background-color: #FFF;
    padding: 12px;
}

#subject {
    height: 150px;
    width: 95%;
    display: block;
    padding: 0px 10px;
    border: 1px solid #e3e3e3;
    margin-top: 15px;
    font-size: 17px;
    margin-bottom: 50px;
    font-weight: 400;
}

#fullName,#emailAddress,#subjectInfo {
    font-size: 17px;
}

.form-input {
    display: block;
    width: 95%;
    height: 40px;
    margin-bottom: 50px;
    margin-top: 15px;
    padding: 0px 10px;
    border: 1px solid #e3e3e3;
}


.form_submit {
    margin-right: -21px;
    margin-top: 10px;
    padding: 12px 35px;
    color: #FFF;
    background-color: #4F345A;
    border-bottom: 2px solid #e7dfd2;
    border-right: 2px solid #e7dfd2;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    position: relative;
    left: 55%;
    transform: translate(-55%, 6%);
}

#vertHorizCenter9 {
    position: relative;
    left: 61%;
    transform: translate(-61%, 6%);
    width: 91%;
    padding-bottom: 40px;
    min-height: 827px;
}

/*--------Small size and above-----------*/
@media (min-width: 450px){
    h1 {
        font-size: 80px;
    }

    #vertHorizCenter2 {
        transform: translate(-16%, 0%);
    }
    
    #vertHorizCenter3 {
        transform: translate(-23%, 13%);
    }
}

/*--------Tablet size and above-----------*/
@media(min-width: 768px) {
    nav {
        background-color: black;
        position: fixed;
        width: 100%;
        z-index: 19;
    }

    nav ul{
        margin: 0px;
        display: block;
        text-align: center;
        list-style: none;
   }
    nav li {
        display: inline-block;
        border-bottom: 0px;
        min-width: 9%;
        font-size: 18px;
    }

    nav li a{
        font-weight: 900;
    }

    .image-container {
        height: 717px;
    }

    .display-toggle {
        display: none;
    }

    h1 {
        font-size: 124px;
        margin-top: -125px;
        margin-bottom: 153px;
        margin-right: 43px;
    }
    body {
        font-size: 22px;
    }

    .content {
        min-height: 330px;
        width: 100%;
    }

    .content img {
        max-width: 89%;
    }

    #vertHorizCenter2 {
        top: 50%;
        left: 70%;
        transform: translate(-63%, 18%);
    }
    
    #vertHorizCenter3 {
        top: 50%;
        left: 20%;
        transform: translate(-20%, 30%);
    }

    .content {
        padding: 0px;
        min-height: 236px;
    }

    #quote {
        left: 50%;
        transform: translate(-50%, 6%);
        width: 100%;
        font-size: 50px;
    }

    .content4 {
        text-align: center;

    }

    #vertHorizCenter5 {
        left: 50%;
        transform: translate(-50%, 5%);
        width: 59%;
    }

    #vertHorizCenter6 {
        left: 50%;
        transform: translate(-50%, 5%);
        width: 56%;
    }

    #vertHorizCenter7 {
        left: 50%;
        transform: translate(-50%, 5%);
        width: 47%;
    }

    #vertHorizCenter8 {
        left: 50%;
        transform: translate(-50%, 0%);
        width: 68%;
    }

    .content3 {
        width: 113%;
        margin-top: 30px;
    }

    #vertHorizCenter9 {
        position: relative;
        left: 101%;
        transform: translate(-50%, 6%);
        width: 100%;
        padding-bottom: 40px;
    }

    .form_submit {
        left: 52%;
        transform: translate(-52%, 6%);
}

/*--------Large size and above-----------*/
@media (min-width: 992px) {
    .content img {
        max-width: 100%;
    } 

    .content .img-container {
        max-width: 91%;
    }

    .content2 {
        width: 110%;
    }

    #vertHorizCenter2 {
        top: 61%;
        left: 68%;
        transform: translate(-68%, 61%);    
    }
    
    #vertHorizCenter3 {
        top: 72%;
        left: 20%;
        transform: translate(-22%, 72%);
    }

    .content {
        min-height: 180px;
        padding: 0px;
    }

    .content3 {
        width: 110%;
        margin-top: 30px;
    }

    #vertHorizCenter4 {
        transform: translate(-64%, 17%);
        width: 80%;
    }

    #about {
        transform: translate(-66%, 53%);
        width: 80%;
    }

    #vertHorizCenter5 {
        left: 50%;
        transform: translate(-50%, 5%);
        width: 46%;
    }

    #vertHorizCenter6 {
        left: 56%;
        transform: translate(-50%, 5%);
        width: 55%;
    }

    #vertHorizCenter7 {
        left: 56%;
        transform: translate(-50%, 5%);
        width: 47%;
    }

    #vertHorizCenter8 {
        left: 50%;
        transform: translate(-50%, 3%);
        width: 54%;
    }
}
}