@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
}

/* NAVIGATION*/

nav ul{
    list-style: none;
    padding: 0px;
    display: none;
    margin: 0px;
    background-color: #E9D7D7;
}

.display-toggle {
    padding: 3px;
    width: 40px;
    position: absolute;
    right: 0px;
    /*float: right;*/
}

.display-toggle .stripe {
    display: block;
    margin-bottom: 7px;
    width: 10px;
    height: 1px;
    margin-top: 4px;
}

.display-toggle .stripe::before {
    content: '';
    position: absolute;
    width: 21px;
    border-top: 3px solid gray;
    height: 3px;
}

.display-toggle:hover + ul {
    display: block;
}

nav li {
    font-family: 'Karla', sans-serif;
    /*background-color: #D7BCC8;*/
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(165, 204, 209, 0.356);
    font-size: 20px;
}

nav li:last-child {
    border-bottom: 0px;
}

.active-link {
    /*border-bottom: 3px solid rgba(255, 56, 99, 0.603);*/
    font-weight: 700;
}

nav a{
    font-size: 22px;
    text-decoration: none;
    color: #4F345A;
    line-height: 36px;
}

/*BODY*/

h1{
    font-family: 'Tangerine', cursive;
    color: white;
    font-size: 80px;
    margin-top: -94px;
    margin-bottom: 87px;
    margin-right: 13px;
    /* margin: 87px; */
    text-align: right;
    text-shadow: 2px 2px 10px #4F345A;
}

.content {
    padding: 0px 10px;
    min-height: 115px;
    position: relative;
}

.image-container {
    margin: 0px auto 20px;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.content .img-container {
    min-height: 160px;
    text-align: center;
    max-width: 100%;
}

.content img {
    max-width: 96%;
}

#vertHorizCenter2 {
    position: relative;
    top: 50%;
    left: 16%;
    transform: translate(-16%, 2%);

    margin: 0px;
    text-align: center;

    margin-top: 66px;
}

#vertHorizCenter3 {
    position: relative;
    top: 50%;
    left: 22%;
    transform: translate(-23%, 30%);

    margin: 0px;
    text-align: center;
}

#vertHorizCenter1 h1 {
    
    /* Half the height accounting for padding and border */
    margin: auto;
    height: 28px;
    
    text-align: center;
    font-size: 60px;
}

/*--------Small size and above-----------*/
@media (min-width: 450px){
    h1 {
        font-size: 80px;
    }

    #vertHorizCenter2 {
        transform: translate(-16%, 0%);
    }
    
    #vertHorizCenter3 {
        transform: translate(-23%, 13%);
    }


/*--------Tablet size and above-----------*/
@media(min-width: 768px) {
    nav {
        background-color: black;
        position: fixed;
        width: 100%;
        z-index: 19;
    }

    nav ul{
        margin: 0px;
        display: block;
        text-align: right;
        list-style: none;
   }
    nav li {
        display: inline-block;
        border-bottom: 0px;
        min-width: 9%;
        font-size: 18px;
    }

    nav li a{
        font-weight: 900;
    }

    .image-container {
        height: 500px;
    }

    .display-toggle {
        display: none;
    }

    h1 {
        font-size: 124px;
        margin-top: -108px;
        margin-bottom: 87px;
        margin-right: 43px;
    }
    body {
        font-size: 22px;
    }

    .content {
        min-height: 329px;
    }

    .content img {
        max-width: 89%;
    }

    #vertHorizCenter2 {
        top: 50%;
        left: 64%;
        transform: translate(-64%, 18%);
    }
    
    #vertHorizCenter3 {
        top: 50%;
        left: 20%;
        transform: translate(-20%, 30%);
    }

    .content {
        padding: 0px;
    }
}

/*--------Large size and above-----------*/
@media (min-width: 992px) {
    .content img {
        max-width: 100%;
    } 

    #vertHorizCenter2 {
        top: 61%;
        left: 68%;
        transform: translate(-68%, 61%);    
    }
    
    #vertHorizCenter3 {
        top: 72%;
        left: 20%;
        transform: translate(-22%, 72%);
    }

    .content {
        min-height: 229px;
        padding: 0px;
    }
