.content {
    position: relative;
}

#vertCenter1 {
    height: 400px;
}

/*#vertCenter2,
#vertHorizCenter1 {
    height: 900px;
}*/

/*#vertCenter1 img{
    background-image: url(https://www.hbo.com/content/dam/hbodata/series/true-blood/episodes/7/true-blood-7-3000x1688.jpg);
    background-position: right top;
    height: 900px;
}*/

.small-width-100 #vertCenter1{
    max-height: 200px;
}

#vertHorizCenter2 {
    height: 400px;
}



.small-width-100 #vertCenter1 img {
    position: absolute;
    height: 221px; /* because we need to calculate the margin */
    margin-top: -108px;
    top: 50%;
    display: block;
}


#Lorem1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px; /* MARGINS affect the centering in this method! */
}

.med-width-100 #vertCenter1 img {
    position: absolute;
    height: 259px; /* because we need to calculate the margin */
    margin-top: -221px;
    top: 50%;
    display: block;
}

.large-width-100 #vertCenter1 img {
    position: absolute;
    height: 431px; /* because we need to calculate the margin */
    margin-top: -202px;
    top: 33%;
    display: block;
}

#vertHorizCenter1 img {
    position: absolute;
    top: 50%;
    left: 50%;
   /* padding: 30px;*/

    /* Half the width accounting for padding and border */
    margin-left: -159px;
    width: 258px;
    
    /* Half the height accounting for padding and border */
    margin-top: -44px;
    height: 28px;
    
    background-color: beige;
}

#vertHorizCenter2 p {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    margin: 0px;
    text-align: justify;
}